.iridescence-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.iridescence-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}