.iridescence-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.iridescence-container canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}
